* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $roboto;
    font-size: 18px;
    p {
        color: $grey;
        font-weight: 400;
        line-height: 1.5;
    }
}
html, body {
    h2 {
        font-family: $poppins;
        font-size: 48px;
        font-weight: 700;
        color: $black;
    }
    h3 {
        font-family: $poppins;
        font-size: 22px;
        font-weight: 700;
        color: $black;
    }
}