.container {
    width: 100%;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1400px) {
    .container {
        max-width: 1170px;
    }
}
.border {
    border: 2px solid black;
}
.button {
   background: linear-gradient(90deg, rgba(238,48,122,1) 0%, rgba(252,139,83,1) 100%);
   font-size: 16px;
   font-weight: 700;
   color: white;
   padding: 25px 35px;
   border-radius: 5px;
   border: none;
}
