@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

$black: #252525;
$grey: #57647C;
$pinkish: #F23779;
$orange: #FF6803;

$border-color: rgba(87, 100, 124, 0.85);