@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

* p {
  color: #57647C;
}

.container {
  width: 100%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1170px;
  }
}

.border {
  border: 2px solid black;
}

.button {
  background: linear-gradient(90deg, #ee307a 0%, #fc8b53 100%);
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 25px 35px;
  border-radius: 5px;
  border: none;
}

.navbar {
  background-color: #F8F9FE;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(87, 100, 124, 0.3);
}

.navbar .brand-div {
  padding-top: 50px;
  padding-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
}

.navbar .navbar-right-div {
  padding-top: 10px;
}

.navbar a {
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  color: #252525;
  font-weight: 500;
}

.navbar i {
  padding-right: 30px;
  font-size: 1.2rem;
}

.navbar button {
  background-color: transparent;
  border: 2px solid #FF6803;
  border-radius: 5px;
  padding: 15px 25px;
  color: #252525;
  font-weight: 500;
}

#bghome {
  position: absolute;
  top: 113px;
  z-index: -2;
}

#blob1 {
  position: absolute;
  top: 50px;
  left: 200px;
  height: auto;
  width: 100%;
  margin-right: 0;
  overflow: hidden;
  clip-path: inset(0 50% 30% 0);
  z-index: -1;
}

.home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 810px;
}

.home .container h1 {
  color: #252525;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 50px;
}

.home .container p {
  padding-bottom: 35px;
}

.home-left {
  width: 50%;
}

.home-right {
  width: 50%;
  position: relative;
}

#screen1 {
  margin-left: -100px;
}

.features {
  margin-top: 200px;
}

.features .container {
  display: flex;
  justify-content: space-between;
}

.features h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 45px;
}

.features h2 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #252525;
  padding-bottom: 30px;
}

.features .features-left {
  width: 444px;
}

.features #text-features-left {
  padding-bottom: 40px;
}

.features .features-h1-div {
  width: 408px;
}

.features .features-right {
  padding-left: 58px;
  width: 726px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 70px;
  column-gap: 150px;
}

.features .features-box img {
  padding-bottom: 25px;
}

.pages {
  margin-top: 180px;
}

.pages .container {
  display: flex;
  justify-content: space-between;
}

.pages .pages-left-div {
  height: 850px;
  width: 700px;
}

.pages #big-black-screen {
  position: relative;
  top: 100px;
  left: -150px;
}

.pages .pages-right-div {
  height: 850px;
}

.pages .pages-right-div h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  padding-bottom: 120px;
}

.pages .pages-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 60px;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 60px;
}

.pages .pages-grid h2 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  color: #F23779;
}

.contact-us .container {
  max-width: 970px;
}

.contact-us .container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  text-align: center;
  padding: 0 80px 50px 80px;
}

.contact-us .container .contact-us-text-div p {
  padding: 0 210px;
  text-align: center;
}

.contact-us .container .numbers-flex {
  display: flex;
  justify-content: space-between;
}

.contact-us .container .numbers-flex div {
  text-align: center;
  padding: 100px 0 75px 0;
}

.contact-us .container h3 {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-weight: 500;
  color: #F23779;
}

.contact-us .container .contact-us-button-div {
  position: relative;
  width: 630px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
  box-shadow: 2px 2px 5px 5px rgba(224, 216, 216, 0.693);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-us .container #map {
  position: absolute;
  z-index: -1;
  top: -230px;
  left: -100px;
}

.blog-header {
  margin-top: 175px;
}

.blog-header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.blog-header p {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 80px;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.blog-grid .shadow-box {
  margin-top: -5px;
  box-shadow: 0 5px 5px 5px #f1e6e6;
}

.blog-grid .blog-grid-under-div {
  width: 310px;
  padding: 30px;
}

.blog-grid h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 25px;
}

.blog-grid h4 {
  color: #FF6803;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 15px;
}

.blog-grid p {
  padding-bottom: 35px;
}
