.divblogflex {
    display: flex;
    justify-content: center;
}
.blog-header {
    margin-top: 175px;
    
    max-width: 100%;
    h2 {
        font-family: $poppins;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
    }
    .div-customer-p {
        height: 67px;
        max-width:100%;
        p {
            text-align: center;
            padding-top: 45px;
        }
    }
}
@media (min-width: 568px) {
    .blog-header {
        max-width: 555px;
        height: 216px;
        .div-customer-p {
            height: 67px;
            max-width: 516px;
        }    
    }
}
.blog-grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    .little-black-screen {
        display: none;
    }
    @media (min-width: 1400px) {
        .little-black-screen {
            display: block;
        }
    }
    .shadow-box {
        // margin-top: -5px;
        box-shadow: 0px 5px 5px 5px rgba(240, 238, 238, 0.911);
    }
    .blog-grid-under-div {
        width:320px;
        padding-left: 30px;  
        padding-bottom: 30px;  
    }
    h4 {
        font-family: $poppins;
        font-size: 22px;
        font-weight: bold;
        color: $black;
        padding-bottom: 15px;
    }
    h5 {
        color: $orange;
        font-family: $poppins;
        font-size: 14px;
        font-weight: 600;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    p{
        padding-bottom: 30px;
    }
    .button {
        padding: 13px 20px;
        font-size: 14px;
    }
}
@media (min-width: 768px) {
    .blog-grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }
}
@media (min-width: 1400px) {
    .blog-grid {
        grid-template-columns: 1fr 1fr 1fr;
        .shadow-box {
            margin-top: -5px;
        }
    }
}
.extra-length {
    height: 30px;
}