.divblogflex {
    display: flex;
    justify-content: center;
}
.blog-header {
    margin-top: 175px;
    height: 216px;
    width: 555px;
    h1 {
        font-family: $poppins;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
    }
    .div-customer-p {
        height: 67px;
        width: 516px;
        p {
            text-align: center;
            padding-top: 45px;
        }
    }
}
.blog-grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    .shadow-box {
        margin-top: -5px;
        box-shadow: 0px 5px 5px 5px rgba(240, 238, 238, 0.911);
    }
    .blog-grid-under-div {
        width:320px;
        padding-left: 30px;  
        padding-bottom: 30px;  
    }
    h3 {
        font-family: $poppins;
        font-size: 22px;
        font-weight: bold;
        color: $black;
        padding-bottom: 15px;
    }
    h4 {
        color: $orange;
        font-family: $poppins;
        font-size: 14px;
        font-weight: 600;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    p{
        padding-bottom: 30px;
    }
    .button {
        padding: 13px 20px;
        font-size: 14px;
    }
}
.blog-extra-length {
    height: 200px;
}