.contact-us .container {
    max-width:970px;
    .contact-header-text-flex {
        display: flex;
        align-items: center;
        flex-direction: column;

        .div-contact-header {
                max-width: 500px;
                // height: 134px;
                margin-bottom: 50px;
            h1 {
                text-align: center;
                // padding: 0 80px 50px 80px;
            }
        }
        @media (min-width: 768px) {
            .div-contact-header {
                max-width: 730px;
                // width: 730px;
                height: 134px;
                margin-bottom: 50px;
                // h1 {
                //     padding: 0 80px 50px 80px;
                //     text-align: unset;
                // }
            }
        }
        .contact-us-text-div {
            max-width: 500px;
            // height: 67px; 
            text-align: center;    
        } 
        // @media (min-width: 768px) {
            // .contact-us-text-div {
    //     max-width:unset;
    //     width: 516px;
    //     height: 67px; 
    //     text-align: center;    
    //     background-color: yellow;
    // }   
    }
    
    .numbers-flex {
        display: none;
    }
    @media (min-width: 768px) {
        .numbers-flex {
            display: flex;
            justify-content: space-between;
            div {
                text-align: center;
                padding: 100px 0 75px 0;
            }
        }
    }
    h3 {
        font-family: $poppins;
        font-size: 42px;
        font-weight: 500;
        color: $pinkish;
    }
    .contact-us-button-div {
        position: relative;
        max-width: 500px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 45px;
        box-shadow: 1px 5px 5px 3px rgba(240, 238, 238, 0.911);
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .button {
            padding: 17px 25px;
            margin-top: 30px;
        }
    }
    @media (min-width: 768px) {
        .contact-us-button-div {
            max-width: 630px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .button {
                margin-top: 0;
            }
        }
    }
    #map {
        display: none;
    }
    @media (min-width: 768px) {
        #map {
            display: block;
            position: absolute;
            z-index: -1;
            top: -230px;
            left:-75px;
        }
    }
    h2 {
        font-family: $poppins;
        font-size: 21px;
        font-weight: 600;
        color: $black;
        padding-bottom: 5px;
    }
}

    
