.features {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .features-left {
        max-width: 500px;
        margin-bottom: 30px;
        #text-features-left {
            padding-bottom: 40px;
            
        }
        .features-h2-div {
            max-width: 500px;
            h2 {
                padding-bottom: 45px;
                font-size: 40px;
            }
        }
    }
    .features-right {
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 1fr 1fr;
        row-gap: 70px;
        justify-content: center;
        .features-box {
            
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            h3 {
                padding-bottom: 30px;
            }
            img {
                padding-bottom: 25px;
            }   
        }
    }    
}
@media (min-width: 768px) {
    .features {
        margin-top: 130px;
        .container .features-right {
            grid-template-columns: 350px 350px;

            .features-box {
                    justify-content: space-evenly;
                    align-items:flex-start;
                    flex-direction: column; 
            }
        }    
    }
    
}
@media (min-width: 1400px) {
    .features { 
        margin-top: 100px;
        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .features-left {
                max-width: unset;
                width: 444px;
                margin-bottom: 0;
                #text-features-left {
                    padding-bottom: 40px;   
                }
                .features-h2-div {
                    max-width: unset;
                    width: 408px;
                    h2 {
                        font-size: 48px;
                    }
                }
            }
            .features-right {
                padding-left: 58px;
                width: 726px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                row-gap: 110px;
                column-gap: 150px;
                .features-box {
                    
                    
                    img {
                        padding-bottom: 25px;
                    } 
                }
            }
        }
    }
}