.home {
    background-image: url(../Images/BGhome.svg);
    background-repeat: no-repeat;   
    background-position: 0 -113px;
}

.home-layer-2 {
    background-image: url(../Images/Objects.svg);
    background-repeat: no-repeat;
    background-position: 830px -115px;
    
    // 830px -115px;
}
// #bghome {
//     position: absolute;
//     top: 113px;
//     z-index: -2;
// }
.home {
    .home-test {
        background-color: hotpink;
    }
    @media (min-width: 1600px) {
        .home-test {
            background-color: khaki;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 820px;
    
        h1{
            color: $dark;
            font-family: $poppins;
            font-size: 60px;
            font-weight: 700;
            padding-bottom: 50px;
        }
        p {
            padding-bottom: 35px;
        }
    } 

    
}

.home-right {
    width: 50%;
    position: relative;
    
}

#screen1 {
    margin-left: -100px;
    // width: 50%;
}
