// .home-back-layer {
//     background-image: url(Images\Slide1.jpg);
// }

.home {
    background-image: url(../Images/BGhome.svg);
    background-repeat: no-repeat;   
    background-position: 0 -113px;
}

@media (min-width: 1400px) {
    .home-layer-2 {
        background-image: url(../Images/Objects.svg);
        background-repeat: no-repeat;
        background-position: 900px -110px;
    }
}
.home {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 700px;
        h1{
            color: $black;
            font-family: $poppins;
            font-size: 60px;
            font-weight: 700;
            margin-top: -30px;
            padding-bottom: 50px;
            text-align: center;
        }
        p {
            padding-bottom: 35px;
            text-align: center;
        }
        .button {
            padding: 20px 39px;
        }
    }   
}
@media (min-width: 768px) {
    .home .container {
        height: 820px;
        h1 {
            margin-top: 0;
        }
    }
}
.home-left {
    display: flex;
    flex-direction: column;
    align-items:center; 
}
@media (min-width: 1400px) {
    .home-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
@media (min-width: 1400px) {
    .home .container .home-left h1 {
        text-align:unset;
    } 
    .home .container .home-left p {
        text-align: unset;
    }
}
.home-right {
    display: none;
    width: 50%;
    position: relative;
    // #blob1 {
    //     height: 100%;
    //     width: auto;
    //     position: absolute;
    //     top: 100px;
    //     left: 900px;
    //     z-index: 1;
    // }
    #screen1 {
        margin-top: 40px;
        margin-left: -80px;
        // z-index: 2;
    }
}
@media(min-width: 1400px) {
    .home-right {
        display: block;
    }
}