
#bghome {
    position: absolute;
    top: 113px;
    z-index: -2;
}
#blob1 {
    position: absolute;
    top: 50px;
    left: 200px;
    height: auto;
    width: 100%;
    // right: -200px;
   
    margin-right: 0;
    overflow: hidden;
    clip-path: inset(0 50% 30% 0);
    z-index: -1;
}
.home {
    // max-width: 1608px;
    .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 810px;

    h1{
        color: $dark;
        font-family: $poppins;
        font-size: 60px;
        font-weight: 700;
        padding-bottom: 50px;
    }
    p {
        padding-bottom: 35px;
    }
} 
}
.home-left {
    width:50%;
}
.home-right {
    width: 50%;
    position: relative;
    
}

#screen1 {
    margin-left: -100px;
    // width: 50%;
}
