
@media (min-width: 1400px) {
    .top-adjust {
    height: 140px;
    width: 100%;
    background-color: #F8F9FE;
    }
}
.home {
    background-image: url(../Images/BGhome.svg);
    background-repeat: no-repeat;   
    background-position: 0 -113px;
    @media (min-width: 1400px) {
        .home-layer-2 {
            position: absolute;
            left: 0;
            top:0;
            z-index: -1;
            height: 800px;
            width: 100%;
            background-color: #F8F9FE;
        }
        .layer-filler {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            position:absolute;
            top: 682px;
            right: -50px;
            background-color: #F8F9FE;
        }
    }
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 700px;     
        }   
}
@media (min-width: 768px) {
    .home .container {
        height: 820px;
        
    }
}
.home-left {
    display: flex;
    flex-direction: column;
    align-items:center; 
    h1 {
        color: $black;
        font-family: $poppins;
        font-size: 60px;
        font-weight: 700;
        margin-top: -30px;
        padding-bottom: 35px;
        text-align: center;
    }
    p {
        padding-bottom: 35px;
        text-align: center;
    }
    .button {
        padding: 20px 39px;
    }
}
@media (min-width: 768px) {
    .home-left h1 {
        margin-top: 0;
    }
}
@media (min-width: 1400px) {
    .home-left {
        width: 624px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h1 {
            text-align:unset;
        }
        p {
            text-align: unset;
        } 
    }
}
.home-right {
    display: none;
}
@media(min-width: 1400px) {
    .home-right {
        display: block;
        width: 50%;
        position: relative;
        
        #screen1 {
            position: absolute;
            margin-top: -280px;
            margin-left: -120px;
            z-index: 2;
        }
        #blob1 {
            
            position: absolute;
            top: -520px;
            left: -100px;
            z-index: 1;
        }
    }
}