
#bghome {
    position: absolute;
    top: 113px;
    z-index: -2;
}
.home .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 810px;

    h1{
        color: $dark;
        font-family: $poppins;
        font-size: 60px;
        font-weight: 700;
        padding-bottom: 50px;
    }
    p {
        padding-bottom: 35px;
    }
}
.home-left {
    width:50%;
}
.home-right {
    width: 50%;
    
}
#blob1 {
    position: absolute;
    top: 50px;
    right: -200px;
    z-index: -1;
}
#screen1 {
    margin-left: -100px;
    // width: 50%;
}
