
.navbar {
    background-color: #F8F9FE;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgba(87, 100, 124, 0.3);
    }
    .brand-div {
        padding-top: 50px;
        padding-bottom: 40px;
        font-family: $poppins;
        font-weight: 700;
        display: flex;
        align-items: flex-start;
    }
    .navbar-right-div {
        display: none;
        padding-top: 10px;
    }
    @media(min-width:1600px) {
        .navbar-right-div {
            display: block;
            background-color: hotpink;
        }
    }
    a {
        padding-left: 25px;
        padding-right: 25px;
        text-decoration: none;
        color: $dark;
        font-weight: 500;
    }
    i {
        padding-right: 30px;
        font-size: 1.2rem;
    }

    button { 
        background-color: transparent;
        border: 2px solid #FF6803;
        border-radius: 5px;
        padding: 15px 25px;
        color: $dark;
        font-weight: 500;
    }
}
