.pages {
    margin-top: 180px;
    .container {
        display: flex;
        justify-content: space-between;
    }
    .pages-left-div {
        height: 1000px;
        width: 700px;
    }
    #big-black-screen {
        position: relative;
        top: 150px;
        left: -150px;
    }
    .pages-right-div {
        height: 850px;
        h1 {
            padding-bottom: 120px;
        }   
    }
    .pages-grid {
        display:grid;
        grid-template-columns: 1fr 4fr;
        column-gap: 60px;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 60px;
        h2 {
            font-family: $poppins;
            font-size: 60px;
            color: $pinkish;
            text-align:left;
            margin-top: -15px;
        }
        h3 {
            font-family: $poppins;
            font-size: 24px;
            font-weight: 600;
            color: $black;
            padding-bottom: 40px;
        }
    }
}